* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#wrapper {
    display: flex;
    height: 100%;
}

#sidebar {
    height: 100%;
    width: 180px;
}

#main-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
}

.logo h2 {
    padding: 20px 0px 20px 20px;
    text-decoration: none;
    font-weight: 400;
    color: #5c6166;
    font-size: 16px;
}

.options-item {
    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #5e5e5e;
    cursor: pointer;
}

.options-item-deselected:hover {
    background: #b7b5b5;
    color: white;
}

.options-item-selected {
    color: white;
    background: #5c6166;
}

.module-container {
    margin: 10px;
}

.module-container h3 {
    font-weight: 400;
    margin: 10px 10px 10px 0px;
    font-size: 16px;
}

.module-inner {
    margin: 0px 0px 5px 10px;
    width: 500px;;
}

.module-line {
    width: 4px;
    margin-left: 5px;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.module-flex-wrap {
    display: flex;
    width: 100%;
}

.module-desc {
    font-size: 14px;
    color: #888888;
    margin: 0px 0px 15px 0px;
}

.text-setting-textarea {
    width: 200px;
    height: 80px;
}

label {
    cursor: pointer;
}

label, .text-setting-caption {
    font-size: 14px;
    margin: 5px 5px 5px 0px;
}

.module-setting-desc {
    color: #888888;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.module-setting {
    margin-bottom: 10px;
}

/* Checkbox-label hack */

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
  bottom: 1px;
}

input[type=text] {
    display: block;
}

input[type=radio] {
  bottom: 2px;
}

.section-title {
    margin: 8px 10px 20px 0px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #5c6166;
    border-bottom: 1px solid #d2d2d2;
}

#donate-container code {
    padding: 5px;
    border: 1px solid #d2d2d2;
    background: #f1f1f1;
    font-family: monospace;
}

#donate-container p {
    font-size: 14px;
    color: #444444;
}

#about-container img {
    max-height: 70px;
}

.about-logo-cont {
    display: flex;
}

.about-desc {
    margin: 10px;
}

.about-desc p {
    font-size: 14px;
    color: #444444;
}

.about-desc h3 {
    font-weight: 400;
    font-size: 18px;
}

.item-string {
    margin-top: 10px;
    font-size: 14px;
}

.copyright {
    color: #999999;
    font-size: 12px;
}

.about-link {
    color: rgb(17, 85, 204);
    text-decoration: none;
    font-size: 12px;
    display: block;
    width: 100px;
}

.about-spacer {
    margin-bottom: 20px;
    height: 1px;
}

.about-link:hover {
    text-decoration: underline;
}

#donate-container {
    /* display: none; */
}

#settings-container {
    display: none;
}

#about-container {
    display: none;
}

.donate-item-container {
    display: flex;
    margin: 10px 10px 10px 0;
}

.donate-item-container img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.bitcoin-qr > img {
    width: 200px;
    height: 200px;
}